@import url('https://fonts.googleapis.com/css2?family=Paytone+Onefamily=Poppins:wght@400;800');

* {
  margin: 0px;
  padding: 0px;
  color: #000000e8;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

#links{
  color:#00E917;
}
#links:hover{
  color:black;
}

body {
  height: 100%;
  width: auto;
  font-size: 120%;
  font-family: axiforma;
  flex-direction: row;
  font-weight: 500;
  background: #F8F8FF;
  background-image: url('img/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header h1{
  position: relative;
  width: 70vh;
  margin: 10vh auto 0px;
  background: rgba(3, 54, 14, 0.705);
  text-align: center;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  color: #35FF4A;
}

form,
.content {
  position: relative;
  width: 70vh;
  margin: 0px auto;
  padding: 20px;
  padding-bottom: 15vh;
  background: rgba(3, 54, 14, 0.705);
  border-radius: 0px 0px 10px 10px;
}

/* 
code for blur effect
.form{
  filter: blur(8px);
  -webkit-filter: blur(8px);
} */

.input-group {
  margin: 10px 0px 0px 0px;
}

.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}

.input-group input {
  height: 30px;
  width: 95%;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 50px;
  background: #A0E5A7;
  border: 4px solid #A0E5A7;
  color: #023b07;
}

.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 300%;
  display: inline-block;
  position: relative;
  font-size: 20px;
  text-align: center;
  color: black;
  border: 2px solid #00E917;
  background: #00E917;
  border-radius: 50px;
}
.btn:hover{
  background: rgba(3, 54, 14, 0.705);
  border-radius: 50px;
  border: 2px solid #00E917;
  color: white;
  
}

#register {
  width: 250%;
  float: right;
  background: rgba(3, 54, 14, 0.801);
  border-radius: 50px;
  border: 2px solid #00E917;
  color: white;
}
#register:hover{
  color: black;
  background: #00E917;
  
}

.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}
#signup {
  width: 10vh;
}

.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

/* Applying flexible webpage */
@media(max-width: 900px) {
  .btn{
    width: 200%;
  }
  #register{
    width: 180%;
  }

}