* {
  margin: 0px;
  padding: 0px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

#links{
  color:#FF8627;
}
#links:hover{
  color:black;
}

body {
  height: 100%;
  width: auto;
  font-size: 120%;
  font-family: axiforma;
  flex-direction: row;
  font-weight: 500;
  background: #fefeff;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  display: inline-block;
  color: #8D5103;
  font-family: "Paytone One", sans-serif;
  line-height: 70px;
  vertical-align: 20%;
  font-size: 60px;
}

h2{
  display: inline-block;
  color: #8D5103;
  font-family: "Paytone One", sans-serif;
  vertical-align: 20%;
  font-size: 40px;
}

.header {
  position: relative;
  width: 70vw;
  margin: 20px auto 0px;
  background: #2e1a0a;
  text-align: center;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 100px 20px 0px 20px;
}


img{
  display: inline-block;
  border-radius: 50%;
  background: #ffffff;
  /* margin: 10px 0px 5px 20px; */
}

.container > div{
  flex: 1;
}

form,
.content {
  position: relative;
  width: 70vw;
  margin: auto auto 20px auto;
  padding: 1px 20px 200px 20px;
  background: #2e1a0a;
  border-radius: 0px 0px 10px 10px;
}

.input-group {
  margin: 20px auto 0px 0px;
}

.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}

input[type = "text"]::placeholder{
  color: white;
  padding-left: 15px;
}
input[type = "password"]::placeholder{
  color: white;
  padding-left: 15px;
}
.input-group input {
  margin: 0px 15% 0px 15%;
  vertical-align: 50%;
  color: rgb(0, 0, 0);
  height: 45px;
  width: 65%;
  padding: 8px 15px;  
  font-size: 18px;
  border-radius: 50px;

  background-image: linear-gradient(90deg, #FFD603, #FAE579);
  border: 2px solid #FF8627;
}

.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  display: inline-block;
  position: relative;
  font-size: 20px;
  text-align: center;
  color: #291802;
  border: 2px solid #F6F6F6;
  background: #F0A800;
  border-radius: 50px;
}

.showbtn{
  display: inline-block;
  font-weight: lighter;
  width: 70px;
  font-size: 10px;

}
.btn:hover{
  background: #f0a80017;
  border-radius: 50px;
  border: 2px solid #F0A800;
  color: white;
  
}

#register {
  width: 200px;
  float: right;
  background: #f0a80017;
  border-radius: 50px;
  border: 2px solid #F0A800;
  color: white;
}
#register:hover{
  color: #291802;
  background: #F6F6F6;
  
}

.error {
  width: 92%;
  margin: 0px auto;
  padding: 20px 10px 30px 10px;
  border: 1px solid #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}
#signup {
  width: 10vh;
}

.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

/* Applying flexible webpage */
@media(max-width: 900px) {
  .btn{
    width: 200%;
  }
  #register{
    width: 180%;
  }

}