/* @import url('https://fonts.googleapis.com/css2?family=Paytone+Onefamily=Poppins:wght@400;800'); */

* {
  margin: 0px;
  padding: 0px;
  color: #5F9EA0;
}

body {
  background-image: url("../../img/bg2.png");
  height: 100%;
  width: auto;
  font-size: 120%;
  font-family: axiforma;
  font-weight: 500;
  background-repeat: no-repeat;
  background-size: cover;
  
}

#links {
  color: aquamarine;
}

#links:hover {
  color: black;
}


.header {
  width: 100%;
  position: relative;
  text-align: center;
  background: #00422E;

  border-top: none;
  border-radius: 0px 0px 90px 90px;
  padding-bottom: 15px;

}
img{
  display: inline-flex;
  border-radius: 50%;
  background: #ffffff;
  margin: 10px 0px 5px 20px;
  vertical-align: 50%;
}

.title{
  text-align: left;
  height: 90px;
  width: auto;
  border-bottom: 2px solid #A0E5A7;
  margin-bottom: 10px;
}

h1{
  display: inline-flex;
  color: #00E917;
  font-family: "Paytone One", sans-serif;
  font-weight: 900;
  line-height: 70px;
  vertical-align: 60%;
}


.tabs{
  width: 230px;
  block-size: 65px;
  display: inline-block;
  background: #36723c;

  font-size: 30px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #ffffff;
  text-decoration: none;
  border: 2px dashed orange;

  line-height: 60px;
  vertical-align: 40%;

  border-radius: 20px;
  margin: 0px 10px 0px 10px;
} 

#active{
  width: 250px;
  display: inline-block;
  background: #A0E5A7;

  font-size: 30px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #00422E;

  line-height: 60px;
  vertical-align: 40%;


  border-radius: 20px;
}

.tabs:hover {
  background: #A0E5A7;
  color: #00422E;
  width: 40vh;
} #active:hover {
  background: #36723c;
  color: #ffffff;
  width: 40vh;
}

/* Applying flexible webpage */
@media(max-width: 900px) {
  .tabs, #active, .tabs:hover, #active:hover{
    width: 100%;
  }
  .header{
    padding-bottom: 20px;
    border-radius: 0px 0px 30px 30px;
  }

}